{% extends 'bootstrap/base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/cluster.css')}}">
{{super()}}

{% endblock %}

{% block head %}
<script src= "https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/layout-base@1.0.2/layout-base.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cose-base@1.0.1/cose-base.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/avsdf-base@1.0.0/avsdf-base.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-cise@1.0.0/cytoscape-cise.min.js"></script>
<script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />

<script src="https://unpkg.com/smiles-drawer@1.0.10/dist/smiles-drawer.min.js"></script>

{{super()}}

{% endblock %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="text-center"> 
    <h1> {{ title }}</h1>
    <h3>Filter and cluster compounds</h3> 

    <div class="text-left"> 
  Mpo Score 0 <span id="square1" class="display:inline-block"></span> 6 <span id="square2" class="display:inline-block"></span> </div>
  </div>
  <canvas id="drawing"></div>
<div id="cy"></div>
{% endblock %}
{% block scripts %}
{{super()}}

<script src="{{url_for('static', filename='js/cluster.js')}}">
</script>

<script src="{{url_for('static', filename='js/squares.js')}}"></script>
{% endblock %}