{% extends 'bootstrap/base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/cluster.css')}}">
{{super()}}

{% endblock %}

{% block head %}
<script src= "https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js" ></script>
{{super()}}

{% endblock %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="text-center"> 
    <h1> {{ title }}</h1>
    <h3>Filter and cluster compounds</h3> 
  </div>
<div id="cy"></div>
{% endblock %}
{% block scripts %}
{{super()}}

<script>
  const data = {"nodes": [
    {"data": {"id": '1', "type": "ellipse"}}
    ]};

    let options = {
      name: 'circle',

      fit: true, // whether to fit the viewport to the graph
      padding: 30, // the padding on fit
      boundingBox: undefined, // constrain layout bounds; { x1, y1, x2, y2 } or { x1, y1, w, h }
      avoidOverlap: true, // prevents node overlap, may overflow boundingBox and radius if not enough space
      nodeDimensionsIncludeLabels: false, // Excludes the label when calculating node bounding boxes for the layout algorithm
      spacingFactor: undefined, // Applies a multiplicative factor (>0) to expand or compress the overall area that the nodes take up
      radius: undefined, // the radius of the circle
      startAngle: 3 / 2 * Math.PI, // where nodes start in radians
      sweep: undefined, // how many radians should be between the first and last node (defaults to full circle)
      clockwise: true, // whether the layout should go clockwise (true) or counterclockwise/anticlockwise (false)
      sort: undefined, // a sorting function to order the nodes; e.g. function(a, b){ return a.data('weight') - b.data('weight') }
      animationEasing: undefined, // easing of animation if enabled
      animateFilter: function ( node, i ){ return true; }, // a function that determines whether the node should be animated.  All nodes animated by default on animate enabled.  Non-animated nodes are positioned immediately when the layout starts
      ready: undefined, // callback on layoutready
      stop: undefined, // callback on layoutstop
      transform: function (node, position ){ return position; } // transform a given node position. Useful for changing flow direction in discrete layouts 

    };

  var cy = window.cy = cytoscape({
      container: document.getElementById('cy'),

      boxSelectionEnabled: false,
      autounselectify: true,

      style: [
        {
          selector: 'node',
          style: {
            'height': 20,
            'width': 20,
            'label': 'data(id)',
          }
        },

        {
          selector: 'edge',
          style: {
            'curve-style': 'haystack',
            'haystack-radius': 0,
            'width': 5,
            'opacity': 0.5,
            'line-color': '#f2f08c'
          }
        }
      ],

      elements: data
    });
    var layout = cy.layout( options );

    layout.run();

</script>
{% endblock %}