{% extends 'bootstrap/base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/cluster.css')}}">
{{super()}}

{% endblock %}

{% block head %}
<script src= "https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js" ></script>
{{super()}}

{% endblock %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<script type="module" src= "https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js" >

  var cy = cytoscape({
    container: document.getElementById('cy')
  });

</script>

<div class="container">
  <div class="text-center"> 
    <h1> {{ title }}</h1>
    <h3>Filter and cluster compounds</h3> 
  </div>
<div id="cy"></div>
{% endblock %}
{% block scripts %}
{{super()}}

<script src="{{url_for('static', filename='js/cluster.js')}}">
</script>
{% endblock %}