{% extends 'bootstrap/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="text-center"> 
    <h1> {{ title }}</h1>
    <h3>Verify Pains Filter</h3> 
    
    <form action="\verify_pains"> 
    <table border=1>
        <tr>
            <th>Smile</th>
            <th>Reason</th> 
            <th>Action</th>
          </tr>
    {% for smile, reason in bad_smiles.items() %}
    <tr id={smile}>
      <td>
        {{smile}}
      </td>
    <td>
      {{reason}}
    </td>
    <td>
       <input type="checkbox" name={smile} value={smile}/>
    </td>
      </tr>
    {% endfor %}
  </table>
  </form>
  <br>
  <div class="text-left">
    <form action="\final_compounds">
      Tanimoto Coefficient: 
        <input type="number" name="tanimoto" step=".01" max=100 min=0/> 
        <input type="submit" value="Cluster Compounds" >
    </form>
  </div>
</br>
  </div>
{% endblock %}