{% extends 'bootstrap/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block head %}
<script src="https://unpkg.com/smiles-drawer@1.0.10/dist/smiles-drawer.min.js">
  let painsDrawer = new SmilesDrawer.Drawer({width: 150, height:150});
</script>
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center">
    <h1> {{ title }}</h1>
    <h3>Verify PAINS Filter</h3>
    <br>
    <br>

    <p> Compounds for Clustering: {{ num_remaining }}, Failed compounds removed: {{ num_removed }} </p>
    <h3>Step 1: Remove all failed compounds matching select rules</h3>
    <form action="\verify_pains_by_error" method=POST enctype=multipart/form-data>
      <table border=1 width="90%">
          <tr>
              <th style="text-align:center">Reason for Failure</th>
              <th style="text-align:center">Number of Smiles with Failure</th>
              <th style="text-align:center">Select</th>
            </tr>
      {% for reason, num in reasons_for_failure.items() %}
      <tr id={reason}>
      <td style="text-align:center">
        {{reason}}
      </td>
      <td style="text-align:center">
        {{num}}
      </td>
      <td style="text-align:center" width="20">
         <input class='all_compounds' type="checkbox" name='{{reason}}' value='{{reason}}'/>
      </td>
        </tr>
      {% endfor %}
      </table>
      <script language="JavaScript">
        function toggle(source) {
          checkboxes = document.getElementsByClassName('all_compounds');
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
          }
        }
      </script>
    <input type="checkbox" onClick="toggle(this)"/>Select All<br/>
    <input type="submit" name='action' value="Remove Selected Errors">
    <input type="submit" name='action' value="Keep Selected Errors">
    </form>
    <br/>
    <br>

    <h3>Step 2: Remove individual failed compounds matching select rules</h3>
    <form action="\verify_pains" method=POST enctype=multipart/form-data>
    <table border=1 width="90%">
        <tr>
            <th style="text-align:center">SMILES</th>
            <th style="text-align:center">Reason</th>
            <th style="text-align:center">Select</th>
          </tr>
    {% for smile, smile_info in bad_smiles.items() %}
    <tr id={smile}>
      <td style="text-align:center" >
        <canvas id={{smile}}></canvas>
        <div> {{ smile_info['label'] }} </div>
        <script>
          painsDrawer = new SmilesDrawer.Drawer({width: 150, height:150});
          SmilesDrawer.parse('{{ smile }}', function(tree) {
            painsDrawer.draw(tree,'{{ smile }}', "light", false);
          }, function(err) {
              console.log(err);
          });
        </script>
      </td>
    <td style="text-align:center" width="20">
      {{ smile_info['reason'] }}
    </td>
    <td style="text-align:center">
       <input class='individual_compounds' type="checkbox" name={{smile}} value={{smile}}/>
    </td>
      </tr>
    {% endfor %}
    </table>
    <script language="JavaScript">
      function toggle2(source) {
        checkboxes = document.getElementsByClassName('individual_compounds');
        for(var i=0, n=checkboxes.length;i<n;i++) {
          checkboxes[i].checked = source.checked;
        }
      }
    </script>
  <input type="checkbox" onClick="toggle2(this)"/>Select All<br/>
  <input type="submit" name='action' value="Remove Selected Compounds">
  <input type="submit" name='action' value="Keep Errors">
  </form>
  <br>
    <div class="text-left">
      <script>
        function confirmation(form) {
          if (!confirm("WARNING: Any chemical above not explicitely resolved above will be automatically ignored")) {
            return false;
          }
          const tanimoto = document.getElementById("tanimoto").value;
          if (tanimoto < .6 && tanimoto > 0) {
            if (!confirm("Low coefficient provided. Clustering may take a long time.")) {
              return false;
            }
          }
          return true;
        }

        function onReclusterSingletonsCheck() {
            const checkbox = document.getElementById('reclusterCoefficientCheck');
            console.log(checkbox)
            if(checkbox.checked) {
              document.getElementById('reclusterCoefficient').classList.remove('hidden')
              document.getElementById('reclusterCoefficient').style.visibility = "visible";
              console.log(document.getElementById('reclusterCoefficient'));
            } else {
              document.getElementById('reclusterCoefficient').classList.remove('hidden')
              document.getElementById('reclusterCoefficient').style.visibility = "hidden";
            }
        }
      </script>
      <form action="\final_compounds" method=POST enctype=multipart/form-data onsubmit="return confirmation();">
        {% if include_property %}
          <style>
            .gradient {
              font: "Roboto";
              text-align: center;
              min-width: 300px;
              background: linear-gradient(to right,
              #0000ff, #add8e6);
            }
            .parent {
              display: flex;
            }
          </style>
          <div class="parent">
            <div style="margin-right:30px">
              <b>Current Color for {{ include_property }} {{ lowest_val }}:</b>
              <input class="color1" type="color" name="lowColor" value="#0000ff" />
              <br>
              <b>Current Color for {{ include_property }} {{ highest_val }}:</b>
              <input class="color2" type="color" name="highColor" value="#add8e6" />
            </div>
            <div class="gradient" style="display: flex; justify-content: center; align-items: center;">
              <div>Color Gradient</div>
              <script>
                var color1 = document.querySelector(".color1");
                var color2 = document.querySelector(".color2");
                var body = document.querySelector(".gradient");

                // Changing color for the gradient
                function changeGradient() {
                  body.style.background =
                        "linear-gradient(to right, "
                            + color1.value + ", "
                            + color2.value + ")";
                }

                color1.addEventListener("input", changeGradient);
                color2.addEventListener("input", changeGradient);
              </script>
            </div>
          </div>
        {% else %}
          <b>Display Color</b>
          <input type="color" name="lowColor"/>
        {% endif %}

        <br>

        Fingerprint Type:<br/>
        <input type="radio" name="fp_radio" id="morgan" value="morgan">
          <a target="_blank" href="https://www.rdkit.org/docs/GettingStartedInPython.html#morgan-fingerprints-circular-fingerprints">Morgan</a>
        </input><br/>
        <input type="radio" name="fp_radio" id="atom-pair" value="atom-pair">
          <a target="_blank" href="https://www.rdkit.org/docs/GettingStartedInPython.html#atom-pairs-and-topological-torsions">Atom Pair</a>
        </input><br/>
        <input type="radio" name="fp_radio" id="maccs" value="maccs">
          <a target="_blank" href="https://www.rdkit.org/docs/GettingStartedInPython.html#maccs-keys">MACCs Key</a>
        </input><br/>
        <div>
          Should we attempt to recluster singletons?
          <input type="checkbox" id="reclusterCoefficientCheck"  name="reclusterCoefficientCheck" onChange="onReclusterSingletonsCheck()"/>
          <div id="reclusterCoefficient" class="hidden">
            Recluster Coefficient:
            <input type="number" id="reclusterCoefficientValue" name="reclusterCoefficientValue" step=".01" max=100 min=0/>
          </div>
        </div>
      Tanimoto Coefficient:
        <input type="number" id="tanimoto" name="tanimoto" step=".01" max=100 min=0/>
        <input type="submit" value="Cluster Compounds">
    </form>
      {% for error in errors %}
        <p class="error text-danger">{{ error }} </p>
      {% endfor %}
  </div>
</br>
</div>
{% endblock %}